<!DOCTYPE html>
<html ng-app="ChatRoomApp">
<head>
<meta charset="UTF-8">
<title>首页</title>
<!-- build:css /style/technode.css -->
<link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/styles/room.css">
<!-- endbuild -->
<script src="/socket.io/socket.io.js"></script>
<!-- build:js /script/tecchnode.js -->
<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/components/angular/angular.js"></script>
<!-- endbuild -->
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">chat_room</a>

			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 100px;">
		<div class="col-md-12">
			<div class="panel panel-default room" ng-controller="RoomCtrl">
				<div class="panel-heading room-header">chat_room</div>
				<div class="panel-body room-content">
					<div class="list-group message" auto-scroll-to-bottom>
						<div class="list-group-item message" ng-repeat="message in messages">
							某某：{{message}}
						</div>
					</div>
					<form class="message-creator" ng-controller="MessageCreatorCtrl">
						<div class="form-group">
							<textarea required class="form-control message-input" placeholder="Ctrl + Enter to quick send" ng-model="newMessage" ctrl-enter-break-line="createMessage()"></textarea>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/chat_room.js"></script>
</body>
</html>